<% include ./partials/header %>
		<div class="row">
        	<div class="col-md-12">
           	 <form class="form-signin" action="/forgot" method="POST">
				<legend>Forgot Password</legend>
              <div class="form-group">
				<label for="email">Email</label>
				<input type="email" name="email" autofocus class="form-control">
			</div>
              <button class="btn btn-lg btn-primary btn-block" type="submit" value="Reset Password">Reset</button>
            </form>
				<p>
					<a href="/campgrounds">Go Back</a>
				</p>
            </div>
        </div>
<% include ./partials/footer %>